$color-blueboost: rgb(32, 153, 190);
$color-darkblueboost: rgb(28, 133, 165);
$var-form: nombre, direccion, telefono, email, asunto, text-area, submit, reset;
$var-marcas: REVV, horizon_devices, fibenare_guitars;
$var-artistas: dann_senderovich, adrian_bosques, jose_mesta, glass_mind;