$page-look: dark;
$color-backgroundboost: none;
$color-blueboost: none;
$color-darkblueboost: none;




$var-form: nombre, direccion, telefono, email, asunto, text-area, submit, reset;
$var-marcas: REVV, fibenare_guitars;
$var-artistas: dann_senderovich, adrian_bosques, jose_mesta, glass_mind;