/* Parametros de las secciones de contactos */
.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 82, 88, 0.695);
    text-align: center;
    font-size: x-large;
    min-width: 0px;
}

#contacto-form {
    background-color: rgb(75, 82, 88);
    overflow: hidden;
}

.form-datos {
    display: grid;
    justify-content: center;
    grid-template-areas:
        "nombre nombre"
        "direccion direccion"
        "telefono email"
        "asunto asunto"
        "text-area text-area"
        "submit reset";
}

/* Parametros de la seccion de datos */
.datos {
    background-color: rgb(75, 82, 88);
    font-family: "oswald";
    text-align: center;
}

@each $item in $var-form {
    ##{$item} {
        grid-area: $item;
    }
}

/* Caracteristicas de los botones de la seccion de contacto */
.boton_form {
    background-color: $color-blueboost;
    border-radius: 10px;
    font-family: "Oswald";
}

/* Evitar que se pueda redimensionar la seccion del mensaje en el apartado de contacto */
textarea {
    resize: none;
}
