.banner {
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgb(189, 187, 187));
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

/* Estructura independiente del banner para la pagina de principiantes */
.banner_principiantes {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgb(189, 187, 187));
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
    z-index: -1;
}

.producto {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.articulos {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 1;
    align-items: center;
    width: 29%;
    border-radius: 15px;
    color: white;
    text-align: center;
}
.articulos img{
    width: 100%;
    transform: scale(.7);
}


/* Especificaciones de las lineas de separacion */
hr {
    height: 2px;
    width: 100%;
    background-color: $color-blueboost;
    border-color: $color-blueboost;
    border-radius: 3px;
}