.martis-container {
    display: flex;
    flex-direction: column;
}

/* Especificaciones generales de los contenedores para marcas y artistas */
.contenedor_martis {
    display: flex;
    margin: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    overflow: hidden;
}

.contenedor_martis_invertido {
    @extend .contenedor_martis;
    align-items: flex-end;
}

.texto-martis {
    color: white;

    &:hover {
        animation: animacion-texto-martis 1s;
        animation-fill-mode: forwards;
    }
}

.texto-martis {
    div,
    h2 {
        max-width: 557px;
        max-height: 521px;
        text-align: center;
    }
}

.texto-martis-invertido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    &:hover {
        animation: animacion-texto-martis-invertido 2s;
        animation-fill-mode: forwards;
    }
}

.texto-martis-invertido {
    div,
    h2 {
        max-width: 557px;
        max-height: 521px;
        text-align: justify;
    }
}

.texto-martis div::-webkit-scrollbar,
.texto-martis-invertido div::-webkit-scrollbar {
    width: 5px;
}

.texto-martis div::-webkit-scrollbar-thumb,
.texto-martis-invertido div::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

/* Imagenes para las marcas */
.ESP {
    background-image: url("../img/Marcas/ESP.jpg");
}
@each $item in $var-marcas {
    .#{$item} {
        background-image: url("../img/Marcas/#{$item}.webp");
    }
}
@each $item in $var-artistas {
    @if $item == dann_senderovich {
        .#{$item} {
            background-image: url("../img/Artistas/#{$item}.webp");
            background-position: top;
        }
    } @else if $item == adrian_bosques {
        .#{$item} {
            background-image: url("../img/Artistas/#{$item}.webp");
            background-position: top;
        }
    } @else if $item == glass_mind {
        .#{$item} {
            background-image: url("../img/Artistas/#{$item}.webp");
            background-position: left;
        }
    } @else {
        .#{$item} {
            background-image: url("../img/Artistas/#{$item}.webp");
        }
    }
}
