/* Especificaciones del contenedor principal de las opiniones */
.contenedor_opiniones {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: dashed;
    width: auto;
    margin: 15px 30px 45px;
    gap: 30px;
}

/* Caracteristicas de las opiniones */
.opinion {
    display: flex;
    flex-direction: column;
    flex: 2 1 20rem;
    width: 500px;
    text-align: center;
}

.opinion {
    p {
        margin: 0px 30px 15px;
    }
}
