@keyframes animacion-texto-martis {
    from{
        width: 50%;
    }
    to{
        width: 80%;
    }
}

@keyframes animacion-texto-martis-invertido {
    from {
        width: 50%;
    }
    to {
        
        width: 80%;
    }
}
@keyframes animacion-texto-martis-celular {
    from {
        height: 50%;
    }
    to {
        
        height: 100%;
    }
} 

@keyframes animacion-articulos-dark {
    from {
        background-color: inherit;
        box-shadow: 0px 0px 10px  rgb(32, 153, 190);
    }
    to {
        background-color: rgba(138, 129, 129, 0.9);
        box-shadow: 0px 0px 20px rgb(71, 13, 100);
    }
} 

@keyframes animacion-articulos-light {
    from {
        background-color: inherit;
        box-shadow: 0px 0px 10px  rgb(71, 13, 100);
    }
    to {
        background-color: rgba(138, 129, 129, 0.9);
        box-shadow: 0px 0px 20px rgb(32, 153, 190);
    }
} 

@keyframes animacion-datos-dark {
    from {
        background-color: rgb(75, 82, 88);
        box-shadow: 0px 0px 10px  rgb(75, 82, 88);
    }
    to {
        background-color: rgb(109, 21, 153);
        box-shadow: 0px 0px 20px rgb(109, 21, 153);
    }
} 

@keyframes animacion-datos-light {
    from {
        background-color: rgba(75, 82, 88, 1);
    }
    to {
        background-color: rgba(32, 153, 190, 1);
    }
} 