/*********************************************************/
/*********************************************************/
/*************************Dark mode***********************/
/*********************************************************/
/*********************************************************/

@media (prefers-color-scheme: dark) {
    body {
        background-color: $color-background-darkmode;
        footer {
            background-color: $color-layout-darkmode;
        }
    }

    .articulos:hover {
        animation: animacion-articulos-dark 1s;
        animation-fill-mode: forwards;
    }

    .opinion {
        box-shadow: 5px 5px 10px $color-layout-darkmode;
    }
    .contenedor_martis {
        box-shadow: 0px 0px 25px $color-layout-darkmode;
    }

    .texto-martis div::-webkit-scrollbar-thumb,
    .texto-martis-invertido div::-webkit-scrollbar-thumb {
        background: $color-layout-darkmode;
    }

    .contacto-container {
        border: 2px solid $color-layout-darkmode;
        border: none;
    }

    .articulos {
        box-shadow: 0px 0px 5px $color-layout-darkmode;
        border-width: 0px;
        background-color: black;

        &:hover {
            box-shadow: 0px 0px 20px $color-layout-darkmode;
        }
    }

    hr {
        background-color: $color-layout-darkmode;
        border-color: $color-layout-darkmode;
    }

    .container-fluid {
        background-color: $color-layout-darkmode;
    }

    .boton_form {
        background-color: $color-layout-darkmode;
    }

    .datos {
        border-color: $color-layout-darkmode;
        box-shadow: 0px 0px 5px $color-layout-darkmode;
        &:focus {
            outline: none;
            animation: animacion-datos-dark 1s;
            animation-fill-mode: forwards;
        }
    }

    .texto-martis div::-webkit-scrollbar-thumb:hover,
    .texto-martis-invertido div::-webkit-scrollbar-thumb:hover {
        background: rgb(31, 1, 48);
    }
}
/*********************************************************/
/*********************************************************/
/*************************light mode**********************/
/*********************************************************/
/*********************************************************/
@media (prefers-color-scheme: light) {
    body {
        background-color: $color-background-lightmode;
        section {
            button {
                box-shadow: 0px 0px 5px $color-layout-lightmode;
                border-width: 0px;
                background-color: rgb(63, 84, 96);
                &:hover {
                    box-shadow: 0px 0px 20px $color-layout-lightmode;
                }
            }
        }
        footer {
            background-color: $color-layout-lightmode;
        }
    }

    .articulos:hover {
        animation: animacion-articulos-light 1s;
        animation-fill-mode: forwards;
    }

    .opinion {
        box-shadow: 5px 5px 10px $color-layout-lightmode;
    }
    .contenedor_martis {
        box-shadow: 0px 0px 25px $color-layout-lightmode;
    }

    .texto-martis div::-webkit-scrollbar-thumb,
    .texto-martis-invertido div::-webkit-scrollbar-thumb {
        background: $color-layout-lightmode;
    }

    .contacto-container {
        border: 2px solid $color-layout-lightmode;
    }

    hr {
        background-color: $color-layout-lightmode;
        border-color: $color-layout-lightmode;
    }

    .container-fluid {
        background-color: $color-layout-lightmode;
    }

    .boton_form {
        background-color: $color-layout-lightmode;
    }

    .datos {
        border-color: $color-layout-lightmode;
        box-shadow: 0px 0px 5px $color-layout-lightmode;
        &:focus {
            outline: none;
            border-color: $color-layout-lightmode-selected;
            animation: animacion-datos-light 1s;
            animation-fill-mode: forwards;
        }
    }

    .texto-martis div::-webkit-scrollbar-thumb:hover,
    .texto-martis-invertido div::-webkit-scrollbar-thumb:hover {
        background: $color-layout-lightmode-selected;
    }
}

/*********************************************************/
/*********************************************************/
/*************************mobile**************************/
/*********************************************************/
/*********************************************************/
@media only screen and (max-width: 992px) {
    body {
        section {
            button {
                p {
                    background-color: yellow;
                    color: black;
                    margin: 30px 30% 30px;
                }
            }
        }
        header {
            nav {
                div {
                    justify-content: center;
                    gap: 5px;
                    margin-right: 0px;
                    flex-wrap: wrap;
                }
            }
        }
    }

    .container-fluid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: -10px;
        color: white;
        left: 0px;
        top: 0px;
    }

    .navbar-nav {
        text-align: center;
    }

    .video-container {
        height: 300px;
    }

    .articulos {
        width: 400px;
        margin: 15px;
    }

    .separador {
        display: none;
    }

    .contacto-container {
        display: flex;
        flex-direction: column;
    }

    .contenedor_martis {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        overflow: hidden;
    }

    .contenedor_martis {
        div {
            height: 50%;
        }
    }

    .contenedor_martis_invertido {
        flex-direction: column-reverse;
        margin: 0px;
        overflow: hidden;
    }

    .texto-martis {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, transparent, black 30%);
        width: 100%;
        &:hover {
            animation: animacion-texto-martis-celular 2s;
            animation-fill-mode: forwards;
        }
    }

    .texto-martis-invertido {
        background: linear-gradient(180deg, transparent, black 30%);
        width: 100%;
        &:hover {
            animation: animacion-texto-martis-celular 2s;
            animation-fill-mode: forwards;
        }
    }

    .texto-martis {
        div {
            overflow-y: scroll;
        }
    }

    .texto-martis-invertido {
        div {
            overflow-y: scroll;
        }
    }

    .texto-martis {
        div,
        h2 {
            margin-left: 15px;
            margin-right: 15px;
            text-align: justify;
        }
    }

    .texto-martis-invertido {
        div,
        h2 {
            margin-left: 15px;
            margin-right: 15px;
            text-align: center;
            text-align: justify;
        }
    }

    .horizon_devices {
        background-image: url("../img/Marcas/Horizon_devices.webp");
    }

    .contenedor_galeria {
        width: 100%;
    }

    .img-container {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-row: repeat(8, 1fr);
    }

    .img-container {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .videos-youtube {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
    }
}

/*********************************************************/
/*********************************************************/
/*************************desktop*************************/
/*********************************************************/
/*********************************************************/

@media only screen and (min-width: 993px) {
    body {
        section {
            button {
                p {
                    background-color: yellow;
                    color: black;
                    margin: 30px 30% 30px;
                }
            }
        }
    }

    .contenedor_martis {
        div {
            height: 100%;
            width: 50%;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    }

    .contenedor_martis_invertido {
        div {
            height: 100%;
            width: 50%;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
    }

    .contenedor_martis,
    .contenedor_martis_invertido {
        margin: 15px 100px 15px;
        overflow: hidden;
    }

    .texto-martis {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
        background: linear-gradient(90deg, transparent, black 30%);
    }

    .texto-martis-invertido {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
        background: linear-gradient(270deg, transparent, black 30%);
    }

    .texto-martis {
        h2 {
            grid-row: 2/3;
            grid-column: 3/5;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        div {
            grid-row: 3/6;
            grid-column: 3/5;
            width: 100%;
            align-items: center;
            text-align: justify;
            overflow-y: scroll;
        }
    }

    .texto-martis-invertido {
        h2 {
            grid-row: 2/3;
            grid-column: 2/4;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        div {
            grid-row: 3/6;
            grid-column: 2/4;
            width: 100%;
            align-items: center;
            text-align: justify;
            text-align: justify;
            overflow-y: scroll;
        }
    }

    .horizon_devices {
        background-image: url("../img/Marcas/horizon_devices.jpg");
    }

    .contenedor_galeria {
        width: 100%;
    }

    .img-container {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-row: repeat(8, 1fr);
    }

    .img-container img {
        width: 100%;
        height: 100%;
    }

    .videos-youtube {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 400px);
        grid-template-columns: repeat(2, 50%);
    }

    .img-container img {
        width: 100%;
        height: 100%;
    }

    .tres {
        grid-column: 2/5;
        grid-row: 1/4;
    }

    .cinco {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .seis {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .siete {
        grid-column: 3/5;
        grid-row: 4/5;
    }

    .ocho {
        grid-column: 3/5;
        grid-row: 5/6;
    }
}
